<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./stylesheets/styles.css">
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
    <div class="w-full h-full bg-zinc-900 p-10 text-white bg-zinc">

        <div class="nav mb-10">
            <a class="text-blue-500" href="/read">Read Users</a>
        </div>
        <h1 class="text-white text-3xl tracking-tighter mb-3">Update User</h1>

        <form action="/update/<%= user._id %>" method="post">
            <input type="text"
                class="px-5 border-2 border-zinc-800 rounded-lg outline-none py-2 bg-transparent text-white" name="name"
                id="" placeholder="Name...." value="<%= user.name %>">

            <input type="email"
                class="px-5 border-2 border-zinc-800 rounded-lg outline-none py-2 bg-transparent text-white"
                name="email" id="" placeholder="Email...." value="<%= user.email %>">

            <input type="text"
                class="px-5 border-2 border-zinc-800 rounded-lg outline-none py-2 bg-transparent text-white"
                name="image" id="" placeholder="Image URL...." value="<%= user.image %>">

            <input class="px-5 py-2 text-black bg-yellow-500 rounded-lg ml-3" type="submit" value="Update User">
        </form>
    </div>
</body>

</html>